{% extends "layout.html" %}
{% block content %}
  <h1 class="page-header">Overview</h1>
  <ul class="list-group">
    <li class="list-group-item">Targets<span class="badge">{{data["targets_count"]}}</span></li>
    <li class="list-group-item">Reviewers<span class="badge">{{data["reviewers_count"]}}</span></li>
  </ul>
{% endblock %}
