<!doctype html>
<html lang="en">
  <head>
    <title>Grex</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename='css/style1.css')}}"
      rel="stylesheet" type="text/css">
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Google reviews scraper</a>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            {% if data["current_page"] == "index" %}
            <li class="active">
            {% else %}
            <li>
            {% endif %}
            <a href="/">Overview</a></li>

            {% if data["current_page"] == "targets" %}
            <li class="active">
            {% else %}
            <li>
            {% endif %}
            <a href="/targets">Targets</a></li>

            <!--
            {% if data["current_page"] == "reviewers" %}
            <li class="active">
            {% else %}
            <li>
            {% endif %}
            <a href="/reviewers">Reviewers</a></li>
            -->

          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
